<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Medbay"
         connectionString="Server=WIN-HSSJ43NJOGP\SQLEXPRESS;Database=Medbay;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>

